.Pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pagination button{
    margin: 20px;
    background-color: mediumvioletred;
    border: 3px solid rgba(233, 245, 220, 0.551);
    border-radius: 15px;
}

.ArtGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }