.Pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pagination button {
  height: 100px;
  width: 50px;
  margin: 20px;
  background-color: #008485;
  border: 3px solid #b3dada;
  border-radius: 15px;
}

.Pagination button:hover {
  background-color: #b3dada;
  border: 3px solid #008485;
}

.ArtGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
