.BigContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.ImageContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BigContainer img{
    width: 50%;
}

.fill{
  object-fit: contain;
}

.InfoContainer{
  max-width: 50%;
  padding: 5px;
    margin-left: 5px;
    height: 100%;
    border: 10px solid #008485;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}