.BigContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.ImageContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BigContainer img{
    width: 50%;
}

.fill{
  object-fit: contain;
}

.InfoContainer{
  max-width: 50%;
  padding: 5px;
    margin-left: 5px;
    height: 100%;
    border: 10px solid #008485;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.BackButton{
  padding: 10px 20px;
  background-color: #008485;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;

}

.BackButton:hover {
  background-color: #eaf7f7;
  color: black;
}